<table class="table table-striped">
    <thead>
        <tr>
           
            <th scope="col">Student Marks</th>
            <th scope="col">Teacher Name</th>
            <th scope="col">Teacher Speciality</th>
        </tr>
    </thead>
    <tbody>
        <tr >
            <td >{{markObj.mark}} </td>
            <td>{{searchTeacher(markObj.teacherId)?.firstName}} {{searchTeacher(markObj.teacherId)?.lastName}} </td>
            <td>{{searchTeacher(markObj.teacherId)?.speciality}}</td> 
             
            
        </tr>
    </tbody>
</table>