<div class="card border-0 bg-light shadow-sm pb-2">
    <img class="card-img-top mb-2" src="assets/img/class-1.jpg" alt="" />
    <div class="card-body text-center">
      <h4 class="card-title">{{classInput.name}}</h4>
      <p class="card-text">
        {{classInput.description}}
      </p>
    </div>
    <div class="card-footer bg-transparent py-4 px-5">
      <div class="row border-bottom">
        <div class="col-6 py-1 text-right border-right">
          <strong>Module</strong>
        </div>
        <div class="col-6 py-1">{{classInput.modules}}</div>
      </div>
     
    </div>
    <a href="" class="btn btn-primary px-4 mx-auto mb-4">Join Now</a>
  </div>