<div class="card border-0 shadow-sm mb-2">
    <img class="card-img-top mb-2" [src]="articleInput.image" alt="" />
    <div class="card-body bg-light text-center p-4">
      <h4 class="">{{articleInput.title}}</h4>
      <div class="d-flex justify-content-center mb-3">
       
        <small class="mr-3"
          ><i class="fa fa-comments text-primary"></i>{{articleInput.date}} </small
        >
      </div>
      <p>
        {{articleInput.description}}
      </p>
      <a href="" class="btn btn-primary px-4 mx-auto my-2"
        >Read More</a
      >
    </div>
  </div>